<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-3">
  <div class="row">
      <%= render partial: 'list', locals: { user: @user, book: @book } %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <% if @books.user == current_user %>
          <tbody>
            <tr>
              <td><%= image_tag @books.user.get_profile_image(100,100) %></br><%= link_to @books.user.name, user_path(@books.user_id) %></td>
              <td><%= link_to book_path(@books.id) do %><%= @books.title %><% end %></td>
              <td><%= @books.body %></td>
              <td><%= link_to "Edit", edit_book_path(@books), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@books), method: :delete, class:"btn btn-sm btn-danger", data: {confirm: "本当に消しますか？"} %></td>
            </tr>
          </tbody>
        <% else %>
          <tbody>
            <tr>
              <td><%= image_tag @books.user.get_profile_image(100,100) %></br><%= link_to @books.user.name, user_path(@books.user_id) %></td>
              <td><%= link_to book_path(@books.id) do %><%= @books.title %><% end %></td>
              <td><%= @books.body %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>